/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__text-screen;
	border-radius: 3px;
	background: transparent;
	color: $color__text-screen;
	font-size: .75rem;
	line-height: 1;
	padding: 1rem 3rem;
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	@include tablet{
		padding: 7px;
		}
	@include desktop{
		padding: 10px;
		}
}

textarea {
	padding-left: 3px;
	width: 100%;
}

#submit-quote{
	input{
		border: 2px solid;
		border-color: $color__text-screen;
		border-radius: 3px;
		background: transparent;
		color: $color__text-screen;
		font-size: .75rem;
		line-height: 1;
		padding: 10px 25px;

		@include tablet{
			padding: 10px 60px;
		}
		@include desktop{
			margin: 0 20%;
			}
	}
	
	.submit{
		@include desktop{
			margin-top: 2%;
		}
	}
	#quote{
	padding: 50px 70px;
		
		@include tablet{
		padding: 100px 220px;
		}
		@include desktop{
			padding: 50px 220px;
			margin: 0 20%;
			}
	}
	

}

fieldset{
	border: none;
	display: flex;
	flex-direction: row;

	label{
		width: 40%;
	}

	input{
		border: 2px solid;
		border-color: $color__text-screen;
		border-radius: 3px;
		background: transparent;
		color: $color__text-screen;
	}

	.search-submit{
		border: none;
		margin: 0;
		padding: 0;
	
		&:before{
		font-family: 'FontAwesome';
		content: '\f002';

		@include tablet{
			font-size: 20px;
			}
		@include tablet{
			font-size: 25px;
			}
		}
	}
}